@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBMPlexSansThai-Regular";
  src: url('../src/assets/fonts/IBMPlexSansThai-Regular.ttf');
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../src/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../src/assets/fonts/Montserrat-Bold.ttf");
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
      @apply bg-[#1a1a1a] text-white tracking-wide
  }
}